

.menu {
  color: #000000;
  font-size: 20px;
  padding: 20px;

  width: 300px;
  min-height: 100px;

  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 2px solid #5c6fff;;

  &__login {
    color: #5c6fff;;
    text-decoration: underline;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
