
.filter {
   display: flex;
   flex-direction: column;
   width: 300px;
   align-items: start;
  
   &__slider {
      margin-top: 20px;
      width: 100%;
      height: 10px; 
      background-color: #e0e0e0;
  
      .thumb {
        width: 23px;
        height: 23px;
        cursor: grab;
        background-color: #5c6fff;
        border-radius: 50%;
        border: 2px solid #fff;
        top: 50%;
        transform: translateY(-50%); 
  
        &:focus {
          background-color: #fff;
        }
      }
   }
  
   &__title {
      font-size: 24px;
      font-weight: bold;
   }
  
   &__range {
      font-size: 18px; 
      color: #5c6fff;
   }
  }
  